

body
{
    margin: 0px;
    background-image: url('img/cardboard-tile.jpg');
    background-repeat: repeat;
    background-position: center;
    padding: 0;
    font-family: Merriweather, serif;
    color: #580B1E;
    font-size: 1em;
    line-height: 1.4em;
}

.main-logo-box
{
    height: 75%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-right: 2%;
    padding-left: 2%;
}

.main-navbar-box
{
    height: 25%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.main-navbar
{
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    background: #580B1E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 2%;
    padding-right: 2%;
}

.nav-btn
{
    background-color: transparent;
    font-family: Merriweather, serif;
    color: #bf8c2c;
    font-size: .9em;
    font-weight: 700;
    padding: 15px 5px 2px;
    margin: 0px atuo 0px auto;
    text-transform: uppercase;
}

.nav-btn:hover
{
    color: #815D42;
    background: none;
}

.site-logo
{
    width: 12%;
    background-image: url('img/mobile-site-logo.svg');
    background-repeat: no-repeat;
    position: fixed;
    height: 10%;
}

.navbar-btns
{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background: #580B1E;
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

.page-body
{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 4%;
    padding-right: 4%;
}

h1
{
    font-family: 'Vast Shadow', sans-serif;
    color: #580B1E;
    text-align: center;
    font-size: 2em;
}

.image-margins
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-top
{
    margin-top: 20px;
}

.quote
{
    color: #F1F2F2;
    font-family: Merriweather;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: bold;
    font-style: italic;
}

cite
{
    color: #F1F2F2;
    font-family: Merriweather, serif;
    font-size: .8em;
    font-weight: normal;
    text-align: right;
    letter-spacing: .02em;
    font-style: normal;
    line-height: 1.1em;
    margin-top: 4px;
}

blockquote
{
    border-left: none;
}

footer
{
    background-color: #231F20;
    width: 100%;
    padding: 2%;
    margin-bottom: 50px;
    height: auto;
}

h6
{
    color: #F1F2F2;
    font-family: Merriweather, serif;
    font-size: .9em;
}

.form-input
{
    color: #231F20;
    font-family: 'Merriweather', serif;
    font-size: .8em;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
    background: none;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 25px;
}

nav
{
    padding-right: 2%;
    padding-left: 2%;
}

.form-submit
{
    width: 33%;
    padding: 2%;
    background: none;
    border: 1px solid #F1F2F2;
}

.form-submit:hover
{
    background: #580B1E;
}

a
{
    color: #F1F2F2;
    font-family: 'Merriweather', serrif;
    font-size: .5em;
}

a:hover
{
    color: #580B1E;
}

.socialmedia-icon
{
    margin-right: 3px;
    margin-left: 3px;
    font-size: 1.5em;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.socialmedia-bar
{
    text-align: right;
}

.secondary-text
{
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 0px;
    margin: 0px auto 10px;
    font-size: 1.2em;
}

.season-title
{
    margin-bottom: 0px;
}

.tabs
{
    background: none;
    color: #F1F2F2;
    float: left;
    border: none;
}

.tabs-title
{
    width: 100%;
    background-color: #5e4532;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.tabs-title > a
{
    display: block;
    line-height: 1;
    font-size: 0.75em;
    padding: 20px 7px;
}

.tabs-content
{
    float: right;
    background-color: #815D42;
    border: none;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true']
{
    background-color: #815D42;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.author
{
    padding-left: 5px;
    font-size: .6em;
}

.show-title
{
    margin-bottom: 2px;
}

.show-tabs
{
    width: 100%;
}

.tabs-panel
{
    padding: 10px;
    color: #F1F2F2;
    font-size: .75em;
}

.tabs-title > a:hover
{
    background-color: #815D42;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.publishing
{
    text-align: left;
    line-height: 1.4;
    padding-bottom: 5px;
}

.location
{
    font-weight: bold;
    padding-bottom: 5px;
    line-height: 1.3em;
}

.date
{
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.3em;
    margin-bottom: 5px;
}

.synopsis
{
    font-style: italic;
    line-height: 1.4em;
}

h5
{
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    font-size: 1.25em;
    line-height: 1em;
    letter-spacing: -.05em;
}

.tickets
{
    padding: 10px;
}

.cast
{
    width: 100%;
    line-height: 1.4em;
    padding-bottom: 5px;
}

.production-team
{
    padding: 10px;
}

.cost
{
    font-size: 1em;
    line-height: 1.3em;
}

.disclaimer
{
    padding-top: 5px;
    line-height: 1.4em;
}

.purchase-tickets
{
    font-size: 1em;
    text-align: center;
    text-decoration: underline;
    display: block;
    padding-top: 3px;
    font-variant: normal;
    font-weight: bolder;
}

